contiki/obj_sky/*
.cproject
.project
.pydevproject
contiki/symbols.*
contiki/*.a
contiki/*.map
contiki/*.ihex
contiki/*.sky
examples/transceiver_OQPSK.py
examples/transceiver_CSS_loopback.py
examples/transceiver_CSS_USRP.py
*.npy
*~
*.pyc
*.pyo
build*/
examples/grc/*.py
