[submodule "Custom_Blocks/maint-3.8/gr-adsb"]
	path = Custom_Blocks/maint-3.8/gr-adsb
	url = https://github.com/mhostetter/gr-adsb
	branch = master
[submodule "Custom_Blocks/maint-3.8/gr-clapper_plus"]
	path = Custom_Blocks/maint-3.8/gr-clapper_plus
	url = https://github.com/cpoore1/gr-clapper_plus
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-dect2"]
	path = Custom_Blocks/maint-3.8/gr-dect2
	url = https://github.com/pavelyazev/gr-dect2
	branch = master
[submodule "Custom_Blocks/maint-3.8/gr-foo"]
	path = Custom_Blocks/maint-3.8/gr-foo
	url = https://github.com/bastibl/gr-foo
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-garage_door"]
	path = Custom_Blocks/maint-3.8/gr-garage_door
	url = https://github.com/cpoore1/gr-garage_door
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-gsm"]
	path = Custom_Blocks/maint-3.8/gr-gsm
	url = https://github.com/ptrkrysik/gr-gsm
	branch = master
[submodule "Custom_Blocks/maint-3.8/gr-ieee802-11"]
	path = Custom_Blocks/maint-3.8/gr-ieee802-11
	url = https://github.com/bastibl/gr-ieee802-11
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-ieee802-15-4"]
	path = Custom_Blocks/maint-3.8/gr-ieee802-15-4
	url = https://github.com/bastibl/gr-ieee802-15-4
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-iridium"]
	path = Custom_Blocks/maint-3.8/gr-iridium
	url = https://github.com/muccc/gr-iridium
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-j2497"]
	path = Custom_Blocks/maint-3.8/gr-j2497
	url = https://github.com/ainfosec/gr-j2497
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-limesdr"]
	path = Custom_Blocks/maint-3.8/gr-limesdr
	url = https://github.com/myriadrf/gr-limesdr
	branch = gr-3.8
[submodule "Custom_Blocks/maint-3.8/gr-nrsc5"]
	path = Custom_Blocks/maint-3.8/gr-nrsc5
	url = https://github.com/argilo/gr-nrsc5
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-paint"]
	path = Custom_Blocks/maint-3.8/gr-paint
	url = https://github.com/drmpeg/gr-paint
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-rds"]
	path = Custom_Blocks/maint-3.8/gr-rds
	url = https://github.com/bastibl/gr-rds
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-tpms_poore"]
	path = Custom_Blocks/maint-3.8/gr-tpms_poore
	url = https://github.com/cpoore1/gr-tpms_poore
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-X10"]
	path = Custom_Blocks/maint-3.8/gr-X10
	url = https://github.com/cpoore1/gr-X10
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-zwave_poore"]
	path = Custom_Blocks/maint-3.8/gr-zwave_poore
	url = https://github.com/cpoore1/gr-zwave_poore
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-mixalot"]
	path = Custom_Blocks/maint-3.8/gr-mixalot
	url = https://github.com/unsynchronized/gr-mixalot.git
	branch = maint-3.8
[submodule "Custom_Blocks/maint-3.8/gr-ais"]
	path = Custom_Blocks/maint-3.8/gr-ais
	url = https://github.com/bmagistro/gr-ais
	branch = gnuradio-3.8-port
[submodule "Custom_Blocks/maint-3.8/ais"]
	path = Custom_Blocks/maint-3.8/ais
	url = https://github.com/gla-rad/ais
	branch = gnuradio-3.8-port
