Source: gr-gsm
Section: libdevel
Priority: optional
Maintainer: Piotr Krysik <ptrkrysik@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9~),
               gnuradio-dev,
               libosmocore-dev,
               pkg-config,
               python-dev,
               python-scipy,
               swig
X-Python-Version: >= 2.7, << 2.8
Standards-Version: 4.0.1
Homepage: http://github.com/ptrkrysik/gr-gsm/
Vcs-Git: git://github.com/ptrkrysik/gr-gsm.git
Vcs-Browser: https://github.com/ptrkrysik/gr-gsm/

Package: gr-gsm
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${python:Depends}, ${shlibs:Depends},
         libjs-jquery,
         gnuradio,
         gr-osmosdr
Description: Gnuradio blocks and tools for receiving GSM transmissions
 Implementation of the Global System for Mobile Communications
 protocol and provide tools for scanning for GSM base stations and for
 decoding GSM radio trafic.
