
/*Five-Color Scheme
color1: @color1;
color2: @color2;
color3: @color3;
color4: @color4;
color5: @color5;
*/

QCheckBox[objectName|="checkBox_"]{
    background-color: rgba(0,0,0,0);
    color: @color4;
    font-family: "Ubuntu";
    font-size: 10pt;
}
QCheckBox[objectName|="checkBox_"]:disabled{
    color: @color1;
    background-color: rgba(0,0,0,0);
}
QCheckBox[objectName|="checkBox_"]::indicator:unchecked {
    image: url(@icon_path/dark-unchecked.png);
}
QCheckBox[objectName|="checkBox_"]::indicator:checked {
    image: url(@icon_path/dark-checked.png);
}
QCheckBox[objectName|="checkBox_"]::indicator:disabled:checked {
    image: url(@icon_path/dark-checked-disabled.png);
}
QCheckBox[objectName|="checkBox_"]::indicator:disabled:unchecked {
    image: url(@icon_path/dark-unchecked-disabled.png);    
}
QComboBox{
    font-family: "Ubuntu";
}
QComboBox::drop-down {
    border: none;
}
QComboBox::down-arrow {
    image: url(@icon_path/dark-down-arrow.png);
    background-color: transparent;
}
QComboBox::down-arrow:disabled {
    image: url(@icon_path/dark-down-arrow-disabled.png);
    background-color: transparent;
}
QDoubleSpinBox{
    background-color: @color5;
    color: @color4;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QDoubleSpinBox:disabled{
    background-color: @color5;
    color: @color1;
    border: 1px solid @color1;
}
QDoubleSpinBox::up-button {
     subcontrol-origin: border;
     subcontrol-position: top right;
}
QDoubleSpinBox::down-button {
     subcontrol-origin: border;
     subcontrol-position: bottom right;
}
QHeaderView{
    font-family: "Ubuntu";
}
QLabel{
    font-family: "Ubuntu";
}
QListView{
    background-color: @color5;
    color: @color4;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QListView:disabled{
    background-color: @color5;
    color: @color1;
    border: 1px solid @color1;
}
QListWidget{
    background-color: @color5;
    color: @color4;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QListWidget:disabled{
    background-color: @color5;
    color: @color1;
    border: 1px solid @color1;
}
QMenu{
    color:@color4;
    background-color:@color2;
    font-family: "Ubuntu";    
}
QMenu::item{
    background-color:transparent;
}
QMenu::item:selected{
    color:@color4;
    background-color:@color3;
}
QMenu:selected{
    background-color:@color3;
}
QPlainTextEdit{
    background-color: @color5;
    color: @color4;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QPlainTextEdit:disabled{
    background-color: @color5;
    color: @color1;
    border: 1px solid @color1;
}
QProgressBar{
    background-color: @color5;
    color: @color4;
    font-family: "Ubuntu";    
}
/*QProgressBar::chunk{
    border-radius: 3px;
    background: QLinearGradient(X1:0, y1:0.966136, x2:0, y2:0, stop:0.609721 @color1, stop:0.691923 @color3);
    background-color: @color1;
    border: .px solid black;
}*/
QProgressBar:disabled{
    background-color: @color5;
    color: @color1;
}
QPushButton[objectName|="pushButton_"]{
    color: #000000;
    border: 1px solid #111111;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #aaaaaa, stop: 1 #666666);
    font-family: "Ubuntu";    
}
QPushButton[objectName|="pushButton_"]:disabled{
    color: #999999;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #dddddd, stop: 1 #999999);
}
QPushButton[objectName|="pushButton_"]:hover{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #afafaf, stop: 1 #6f6f6f);
}
QPushButton[objectName|="pushButton_"]:pressed{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #666666, stop: 1 #666666);
}
QRadioButton{
    color: @color4;
    font-family: "Ubuntu";    
}
QRadioButton:disabled{
    color: @color1;
    background-color: rgba(0,0,0,0);
}
QRadioButton::indicator:unchecked {
    image: url(@icon_path/radio-unchecked.png);
}
QRadioButton::indicator:checked {
    image: url(@icon_path/radio-checked.png);
}
QScrollBar{
    background: @color2;
    color: @color4;
    border: 1px solid #111111;
}
QScrollBar:horizontal{
    margin: 0px 16px 0px 16px;
}
QScrollBar:vertical{
    margin: 16px 0px 16px 0px;
}
QScrollBar::add-line:horizontal{
    width: 16px;
    subcontrol-origin: margin;
}
QScrollBar::add-line:vertical {
    height: 16px;
    subcontrol-origin: margin;
}
QScrollBar::handle:horizontal{background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #aaaaaa, stop: 1 #666666);}
QScrollBar::handle:vertical{background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,stop: 0 #aaaaaa, stop: 1 #666666);}
QSpinBox{
    background-color: @color5;
    color: @color4;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QSpinBox:disabled{
    background-color: @color5;
    color: @color1;
    border: 1px solid @color1;
}
QSpinBox::up-button {
     subcontrol-origin: border;
     subcontrol-position: top right;
}
QSpinBox::down-button {
     subcontrol-origin: border;
     subcontrol-position: bottom right;
}
QStatusBar{
    /*background-color: @color2;*/
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, x3: 0, y3: 1, stop: 0 @color1, stop: 0.1 @color2, stop: 1 @color1);
    color: @color4;
}
QTableWidget{
    background-color: @color5;
    color: @color4;
    border: 1px solid #111111;
    font-family: "Ubuntu";    
}
QTableWidget > QHeaderView{
    background-color: @color2;
    color: @color4;
}
QTableWidget > QHeaderView:disabled{
    background-color: @color2;
    color: @color1;
}
QTableWidget > QTableCornerButton{
    background-color: @color2;
    color: @color4;
}
QTableWidget:disabled{
    background-color: @color5;
    color: @color1;
}
QTableWidget::item:selected{  /*different*/
    background-color: #F6724F;
    color: #FFFFFF;
}
QTableWidget > QHeaderView::section{  /*ScrollBar impacts section style sheet*/ /*different*/
    background-color: @color2;
    color: @color4;
}
QTableWidget > QTableCornerButton::section{  /*different*/
    background-color: @color2;
    color: @color4;
}
#tabWidget > QTabBar::tab {
    width: 132px; 
    height:27px;
    margin-top: 0px;
}
#tabWidget > QTabBar::tab:!selected {
    margin-top: 6px;
    height: 21px;
    width: 132px; 
}
QTabBar::tab:disabled {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #eeeeee, stop:0.12 #888888, stop:0.3 #666666,   stop:0.85 #444444, stop:1 #444444);
    border: 1px solid #444444;
    color: rgb(150, 150, 150);
}
QTabWidget::pane { 
    border: 1px solid @color3;
}
QTabBar::tab {
    qproperty-alignment: AlignCenter;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 @color3, stop:0.05 #888888, stop:0.15 @color3,   stop:0.85 @color3, stop:1 @color3);
    border: 1px solid @color3;
    color:rgb(0, 220, 0);
    font: bold 10pt "Ubuntu";
    margin-right:1px;
    width: 132px;
    height:22px;
    margin-top: 3px;
}
QTabBar::tab:!selected {
    margin-top: 7px;
    height: 18px;
    color: @color4;
}
QTextEdit{
    background-color: @color5;
    color: @color4;
    font-family: "Ubuntu";    
    border: 1px solid @color1;
}
QTextEdit:disabled{
    background-color: @color5;
    color: @color1;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QTreeView{
    background-color: @color5;
    color: @color4;
    font-size: 10pt;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QTreeView > QHeaderView::section{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, x3:0, y3:1 stop:0 #343434, stop:0.9 #303030, stop:1 #2F2F2F);
    color: @color4;
    font-size: 10pt;
    border: 1px solid @color2;
    padding: 2px;
    padding-left: 4px;    
}
QTreeView::item:selected{  /*different*/
    background-color: #F6724F;
    color: #FFFFFF;
}
QTreeView::branch:selected{  /*different*/
    background-color: #F6724F;
    color: #FFFFFF;
}
QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
    border-image: none;
    image: url(@icon_path/light-tree-open.png);
}
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(@icon_path/light-tree-closed.png);
}
QTreeWidget{
    background-color: @color5;
    color: @color4;
    font-size: 10pt;
    font-family: "Ubuntu";
    border: 1px solid @color1;
}
QTreeWidget > QHeaderView::section{
    background-color: @color2;
    color: @color4;
}
QTreeWidget::item:selected{  /*different*/
    background-color: #F6724F;
    color: #FFFFFF;
}
QTreeWidget::branch:selected{  /*different*/
    background-color: #F6724F;
    color: #FFFFFF;
}


/*Specific*/
QPushButton[objectName|="pushButton1_"]{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 @color3, stop:0.05 #888888, stop:0.15 @color3, stop:0.85 @color3, stop:1 @color3);
    color: @color4;
    border: 1px solid @color3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width:107px;
    margin-top: 6px;
    height: 21px;
}
QPushButton[objectName|="pushButton2_"]{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 @color3, stop:0.05 #888888, stop:0.15 @color3, stop:0.85 @color3, stop:1 @color3);
    color:rgb(0, 220, 0);
    border: 1px solid @color3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height:27px;
    margin-top: 3px;
}
QPushButton[objectName|="pushButton_top"]{
    color: @color4;
    background-color: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 rgba(255, 255, 255,50), stop: 1 rgba(100, 100, 100,50));
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    /*border-color: #152947;*/
    border-color:  @color3;
}
QPushButton[objectName|="pushButton_top"]:hover{
    background-color: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 rgba(255, 255, 255,50), stop: 1 rgba(170, 170, 170,50));
}
QPushButton[objectName|="pushButton_top"]:pressed{
    background-color: qradialgradient(cx: 0.3, cy: -0.4, fx: 0.3, fy: -0.4, radius: 1.35, stop: 0 rgba(255, 255, 255,50), stop: 1 rgba(100, 100, 100,50));
    padding: 47px -2px 0px 92px;
}
QPushButton#pushButton_top_tsi{padding: 45px 0px 0px 92px;}
QPushButton#pushButton_top_pd{padding: 45px 0px 0px 94px;}
QPushButton#pushButton_top_attack{padding: 45px 0px 0px 65px;}
QPushButton#pushButton_top_iq{padding: 45px 0px 0px 94px;}
QPushButton#pushButton_top_archive{padding: 45px 0px 0px 60px;}

QFrame[objectName|="frame1_"]{
    background-color: @color2;
    border: 1px solid @color3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
QFrame[objectName|="frame2_"]{
    background-color: @color2;
    border: 1px solid @color3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
QFrame[objectName|="frame3_"]{border: 1px solid @color3;}
QFrame[objectName|="frame4_"]{
    background-color: @color1;    
    border: 1px solid @color3;
}
QFrame[objectName|="frame5_"]{
    background-color: @color2;    
    border: 1px solid @color1;
}
QFrame[objectName|="frame6_"]{
    background-color: @color2;    
    border: 1px solid @color3;
}

QTextEdit[objectName|="textEdit1_"]{
    border: 1px solid @color3;
    background-color: @color5;
    color: @color4;
}
QTextEdit[objectName|="textEdit2_"]{
    border: 1px solid @color3;
    background-color: @color2;
    color: @color4;
    font: 10pt "Ubuntu";
}


QTableWidget[objectName|="tableWidget1_"]{border: 1px solid @color3;}
#tableWidget1_attack_flow_graph_current_values > QHeaderView {font-size: 10pt;}
#tableWidget1_attack_packet_editor > QHeaderView {font-size: 10pt;}
#treeWidget_attack_attacks > QHeaderView {font-size: 10pt;}



QLabel[objectName|="label1_"]{
    qproperty-alignment: AlignCenter;
    border: 1px solid @color3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 @color3, stop:0.05 #888888, stop:0.15 @color3,   stop:0.85 @color3, stop:1 @color3);
    padding: 0px 0px;
    color: @color4;
    max-height: 20px;
    font: bold 10pt "Ubuntu";
}
QLabel[objectName|="label2_"]{color: @color4;}
QLabel[objectName|="label2_"]:disabled{color: @color1;}
QLabel[objectName|="label3_"]{
    color: @color4;
    border: 1px solid @color1;
}
QLabel#label4_status1{
    color: @color4;
    max-height:13px; 
    max-width:90px;
    font: 10pt "Ubuntu";
}
QPushButton#pushButton_status2{
    color: @color4;
    max-height:13px; 
    max-width:90px;
    font: 10pt "Ubuntu";
    border: none;
    background-color: none;
}
QPushButton#pushButton_status3{
    color: @color4;
    max-height:13px; 
    max-width:50px;
    font: 10pt "Ubuntu";
    border: none;
    background-color: none;
}
QPushButton#pushButton_status4{
    color: @color4;
    max-height:13px; 
    max-width:50px;
    font: 10pt "Ubuntu";
    border: none;
    background-color: none;
}
QPushButton#pushButton_status5{
    color: @color4;
    max-height:13px; 
    max-width:55px;
    font: 10pt "Ubuntu";
    border: none;
    background-color: none;
}

QStackedWidget[objectName|="stackedWidget1_"]{
    /*background-color: rgb(251, 251, 251);*/
    background-color: @color2;
    border: 1px solid @color3;
    border-radius: 15px;
}
QStackedWidget[objectName|="stackedWidget2_"]{
    /*background-color: rgb(251, 251, 251);*/
    background-color: @color2;
    border: 1px solid @color3;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
QStackedWidget[objectName|="stackedWidget3_"]{border: 1px solid @color3;}


#tabWidget_attack_fuzzing > QTabBar::tab {width: 150px;}
#tabWidget_attack_fuzzing::pane {border-bottom: 0px;}


QWidget#centralwidget{
    background-color: @color1;
}


QWidget#scrollAreaWidgetContents_2 {
    background-color: @color1;
}

QMenuBar#menubar {

    color: @color4;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, x3: 0, y3: 1, stop: 0 @color2, stop: 0.1 @color5, stop: 1 @color1);
    /*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 @color2, stop: 1 @color1,);*/
    /*border-bottom: 1px solid black;*/
}
QMenuBar#menubar::item:focus:pressed {background:transparent;}
/*QMenuBar#menubar::item:selected {background: transparent;}*/
QMenuBar#menubar::item{background: transparent;}


QFrame[objectName|="line1_"]{background: @color3;}
QFrame[objectName|="line2_"]{background: @color1;}
QFrame[objectName|="line3_"]{background: @color3;}
QFrame#line_iq{border: 1px solid @color3;}


QTabWidget#tabWidget2_2::pane{
    background-color: @color2;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;    
}

QComboBox[objectName|="comboBox_"] {
    padding-left: 4px;
    color: #000000;
    border: 1px solid @color2;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #aaaaaa, stop: 1 #666666);
    padding: 1px 1px 1px 5px;  /* padding needed for color to work, also prevents right align */
}
QComboBox[objectName|="comboBox_"]::item {
    color: @color4;
}
QComboBox[objectName|="comboBox_"]:disabled{
    padding-left: 4px;
    color: #999999;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #dddddd, stop: 1 #999999);
}
QComboBox[objectName|="comboBox_"]:hover{
    padding-left: 4px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #afafaf, stop: 1 #6f6f6f);
}
QComboBox[objectName|="comboBox_"]::item:selected{
    background-color: #F6724F;
    color: #FFFFFF;
    border: 1px solid transparent;  /* needs border to move indicator */
}
QComboBox[objectName|="comboBox_"]::indicator{
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}
QComboBox[objectName|="comboBox2_"] {
    padding-left: 4px;
    color: #000000;
    border: 1px solid #111111;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #aaaaaa, stop: 1 #666666);
    padding: 1px 1px 1px 5px;  /* padding needed for color to work */
    font: 10pt "Ubuntu";
}
QComboBox[objectName|="comboBox2_"]::item {
    color: @color4;
}
QComboBox[objectName|="comboBox2_"]:disabled{
    padding-left: 4px;
    color: #999999;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #dddddd, stop: 1 #999999);
    font: 10pt "Ubuntu";
}
QComboBox[objectName|="comboBox2_"]:hover{
    padding-left: 4px;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #afafaf, stop: 1 #6f6f6f);
}
QComboBox[objectName|="comboBox2_"]::item:selected{
    background-color: #F6724F;
    color: #FFFFFF;
    border: 1px solid transparent;  /* needs border to move indicator */
}
QComboBox[objectName|="comboBox2_"]::indicator{
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}
QComboBox[objectName|="comboBox3_"] {
    color: #000000;
    border: 1px solid @color2;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #aaaaaa, stop: 1 #666666);
    padding: 1px 1px 1px 5px;  /* padding needed for color to work, also prevents right align, leaving comboBox3 here in case there is a solution someday */
    /*text-align: right;*/
}
QComboBox[objectName|="comboBox3_"]::item {
    color: @color4;
}
QComboBox[objectName|="comboBox3_"]:disabled{
    color: #999999;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #dddddd, stop: 1 #999999);
}
QComboBox[objectName|="comboBox3_"]:hover{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,stop: 0 #afafaf, stop: 1 #6f6f6f);
}
QComboBox[objectName|="comboBox3_"]::item:selected{
    background-color: #F6724F;
    color: #FFFFFF;
    border: 1px solid transparent;  /* needs border to move indicator */
}
QComboBox[objectName|="comboBox3_"]::indicator{
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}


QWidget#HardwareSelect{
    background-color: @color1;
}


QTableWidget#tableWidget_status_headers{
    background-color: @color2;
    color: @color4;
}
QTableWidget#tableWidget_status_results{
    background-color: @color2;
    color: @color4;
}

QDialog#OptionsDialog{background-color: @color1;}
QDialog#HelpWindow{background-color: @color1;}
QDialog#Dialog_chooser{background-color: @color1;}
QDialog#Dialog_new_soi{background-color: @color1;}
QDialog#SigMF_Window{background-color: @color1;}
QDialog#Dialog_custom_color{background-color: @color1;}

QTreeView#treeWidget_attack_attacks > QHeaderView::section{
    color: @color4;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 @color3, stop:0.05 #888888, stop:0.15 @color3,   stop:0.85 @color3, stop:1 @color3);
    font: bold 10pt "Ubuntu";
    border: none;
    padding: 3px;
    padding-left: 4px;
}

