<block>
  <name>SDCCH/8 Demapper</name>
  <key>gsm_sdcch8_demapper</key>
  <category></category>
  <import>import grgsm</import>
  <make>grgsm.gsm_sdcch8_demapper(
    timeslot_nr=$timeslot_nr,
)</make>
  <callback>set_timeslot_nr($timeslot_nr)</callback>
  <param>
    <name>timeslot_nr</name>
    <key>timeslot_nr</key>
    <value>1</value>
    <type>raw</type>
  </param>
  <sink>
    <name>bursts</name>
    <type>message</type>
    <optional>1</optional>
  </sink>
  <source>
    <name>bursts</name>
    <type>message</type>
    <optional>1</optional>
  </source>
  <doc>Piotr Krysik
Demapper for SDCCH/8 + SACCH/C8 control channels. This corresponds to channel combination vii specified in GSM 05.02, section 6.4
</doc>
  <grc_source>gr-gsm/hier_blocks/demapping/gsm_sdcch8_demapper.grc</grc_source>
</block>
