<?xml version="1.0"?>
<block>
  <name>TCH/F Demapper</name>
  <key>gsm_tch_f_chans_demapper</key>
  <import>import grgsm</import>
  <make>grgsm.tch_f_chans_demapper($timeslot_nr)</make>

  <param>
    <name>Timeslot</name>
    <key>timeslot_nr</key>
    <value>2</value>
    <type>int</type>
    <hide>part</hide>
  </param>

  <sink>
    <name>bursts</name>
    <type>message</type>
    <optional>1</optional>
  </sink>
  <source>
    <name>tch_bursts</name>
    <type>message</type>
    <optional>1</optional>
  </source>
  <source>
    <name>acch_bursts</name>
    <type>message</type>
    <optional>1</optional>
  </source>
</block>
